<!--<div class="header">-->
<!--  <img src="assets/images/logo.png" ALIGN = "middle" >-->
<!--  <h4>opinion Mining</h4>-->
<!--</div>-->


<!--<div class="header">-->
<!--<a class="navbar-brand" href="#">-->
<!--  <img src="assets/images/logo.png" alt="logo" style="width:80px;">-->
<!--</a>-->
<!--  <div class="navbar-nav">-->
<!--    <span class="nav-item">-->
<!--      <h4>opinion Mining</h4>-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->
<div class="header" >
<h1 class="text-center">
  <a class="pull-left" href="#">
    <img src="assets/images/logo.png" width="10%" height="10%" alt="" style="float: left;">
  </a><span class="title" >opinion Mining</span></h1>
</div>
