
<div *ngIf="showLoader" class="lds-ellipsis">Mining<div></div><div></div><div></div><div></div></div>

<form (ngSubmit)="onclick('#cardForGraph')" >
  <div class="container mt-3">
    <div class="input-group mb-3">
      <input type="text" name="query" class="form-control" placeholder="Enter query" [(ngModel)]="query" >
      <div class="input-group-append">
        <button class="btn btn-success" type="submit">Go</button>
        <button type="button" *ngIf="!!query && demodoughnutChartData.length > 0 && !showLoader" class="btn btn-primary" (click)="captureScreen()" >Save to PDF</button>
      </div></div>
  </div>
</form>
<div id="contentToConvert" >
<div *ngIf="!!query && demodoughnutChartData.length > 0 && !showLoader" style="text-align:center">Positive & Negative Tweets about <span class="query">{{query}}</span></div>


<div class="container" *ngIf="!!query && demodoughnutChartData.length > 0 && !showLoader" id="cardForGraph">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <canvas baseChart
                  [data]="demodoughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="chartColors"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


