<!--<input placeholder="Enter query" [(ngModel)]="query" >-->
<!--<button (click)="onclick()" >Click here..!!</button>-->



<h3 *ngIf="!!query && demodoughnutChartData.length > 0" style="text-align:center">Positive & Negative Tweets about {{query}}</h3>

<form (ngSubmit)="onclick('#cardForGraph')" >
<div class="container mt-3">
<div class="input-group mb-3">
  <input type="text" name="query" class="form-control" placeholder="Enter query" [(ngModel)]="query" >
  <div class="input-group-append">
    <button class="btn btn-success" type="submit">Go</button>
  </div></div>
</div>
</form>
<div class="container" *ngIf="!!query && demodoughnutChartData.length > 0" id="cardForGraph">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <canvas baseChart
                  [data]="demodoughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="chartColors"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>



